:root{
    /* Primary Color */
    --Light-red-CTA-text: hsl(356, 100%, 66%);
--Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
--Very-dark-blue-headings-: hsl(208, 49%, 24%);
    /* Neutral Color */
    --White-text-: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text-: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy-: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background-: hsl(240, 10%, 16%);
    /* Gradiant */
    /* Background-gradient-Intro-CTA-mobile-nav: */

--Verylightred: hsl(13, 100%, 72%);
-Lightred:hsl(353, 100%, 62%);

/* Background gradient - body: */

--Verydarkgrayblue:hsl(237, 17%, 21%);
--Verydarkdesaturatedblue: hsl(237, 23%, 32%);
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    /* font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}